<!doctype html>
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Zaky Motor</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet" />



    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">

            <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        <% if(user.level === 'admin'){ %>
                            Zaky Motor
                        <% } else{ %> 
                            Zaky Motor <%= user.dealer %>
                        <% } %>
                    </a>
                </div>

                <ul class="nav">
                    <% if(user.level === 'admin'){ %>
                    <li>
                        <a href="dashboard">
                            <i class="ti-stats-up"></i>
                            <p>HALAMAN UTAMA</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="penjualan">
                            <i class="ti-arrow-circle-left"></i>
                            <p>PENJUALAN</p>
                        </a>
                    </li>
                    <li>
                        <a href="barang_masuk">
                            <i class="ti-arrow-circle-right"></i>
                            <p>BARANG MASUK</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="stok">
                            <i class="ti-package"></i>
                            <p>STOK</p>
                        </a>
                    </li>
                    <li>
                        <a href="user">
                            <i class="ti-user"></i>
                            <p>USER</p>
                        </a>
                    </li>
                    <% } %>
                    <li class="active">
                        <a href="penjualan_gantung">
                            <i class="ti-shopping-cart"></i>
                            <p>PENJUALAN GANTUNG</p>
                        </a>
                    </li>
                    <li>
                        <a href="status_barang">
                            <i class="ti-thumb-up"></i>
                            <p>STATUS BARANG</p>
                        </a>
                    </li>
                    <li>
                        <a href="input_data">
                            <i class="ti-write"></i>
                            <p>Input Data</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">PENJUALAN GANTUNG</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
                                    <p>Admin</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="akun">Akun</a></li>
                                    <li><a href="logout">Keluar</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <select id="berdasarkan" class="form-control">
                                <option value="penjualan.no_polisi">NO POLISI</option>
                                <option value="pembeli.nama_pembeli">NAMA PEMBELI</option>
                            </select>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input id="input_cari" type="text" class="form-control" placeholder="CARI...">
                                <span class="input-group-btn">
                                    <button onclick="cari()" id="cari" class="btn btn-default" type="button">Cari!</button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-md-12 -->
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <th>BATAS</th>
                                        <th>MODEL</th>
                                        <th>NO POLISI</th>
                                        <th>NIK</th>
                                        <th>NAMA PEMBELI</th>
                                        <th>ALAMAT</th>
                                        <th>NO TELEPON</th>
                                    </tr>
                                    <% data.forEach(function(row){ %>
                                        <tr class="click" data-href="/penjualan_gantung/<%= row.id_pembayaran %>">
                                            <td> <%= row.bts_pelunasan %></td>
                                            <td> <%= row.model %></td>
                                            <td> <%= row.no_polisi %></td>
                                            <td> <%= row.nik %></td>
                                            <td> <%= row.nama_pembeli %></td>
                                            <td> <%= row.alamat %></td>
                                            <td> <%= row.no_telp %></td>
                                        </tr>
                                    <% })%>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js"></script>

<script>
    function cari(){
        var cari = document.getElementById('input_cari').value;
        var berdasarkan = document.getElementById('berdasarkan').value;
        location.href= "penjualan_gantung?cari="+cari+"&berdasarkan="+berdasarkan+"";
    }
    $(document).ready(function(){
        $(".click").click(function(){
            window.location = $(this).data("href");
        });

    });
</script>

</html>